body{
    overflow: hidden;
}

.chatbox {
    flex: 2;
    height: 74vh;
    display: flex;
    flex-direction: column;
}

.chatarea {
    padding: 20px;
    flex: 1;
    border: 1px solid rgba(244, 243, 236, 0.5);
    margin-bottom: 28px;
    margin-top: 6px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 36%;
    display: flex;
    gap: 10px;
    text-align: left;

    &.own {
        max-width: 36%;
        align-self: flex-end;
        text-align: center;

        .text {
            p {
                background-color: blue;
            }
        }

    }

    img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        padding: .2rem;
        background-color: white;
    }

    .text {
        flex: 1;
        display: flex;
        flex-direction: column;

        p {
            padding: 8px;
            background-color: #2e303a;
            border-radius: 8px;
            color: white;
            font-size: 16px;
        }
    }

}

.chatinput {
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(244, 243, 236, 0.5);
    gap: 8px;
    margin-top: auto;
}


input {
    width: 560px;
    flex: 1;
    background-color: #2e303a;
    border-radius: 1rem;
    outline: auto;
    color: white;
    padding: 1rem;
    font-size: 16px;
}

button {
    cursor: pointer;
}