
div .home{
    display: grid;
    justify-content: center;
    margin-left: 20vh;
    margin-right: 20vh;
    gap: 8px;
}

div p{
   margin: .6rem;
   font-size: 1.2rem;
   
}

div button{
    display: inline-block;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
    height: 50px;
    font-size: 1.2rem;
}